
.App{
  height: 100vh;
  width: 100vw;
}
.Sidebar{
height: 100%;
width: 300px;
background-color: #2f4050;
}
.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}
.SidebarRow{
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}
.SidebarRow:hover{
  cursor: pointer;
  background-color: #293846;
}
#SidebarRowActive{
  background-color: #293846;
}
#SidebarIcon{
  flex:30%;
  display: grid;
  place-items: center;
}
#SidebarTitle{
  flex: 70%;
}